
.navbar
  margin-bottom: 12px

.navbar-brand
  text-transform: uppercase
  color: #ffffff !important
.navbar-default
  border: none
  background: none
  padding: 12px 0 0
  text-align: center

  .icon-bar
    background-color: #fff !important

  .navbar-nav
    margin-top: 5px

    li
      a
        color: #fff // text color
        font-family: 'robotomedium'
        font-size: 14px
        position: relative
        text-transform: uppercase
        text-decoration: none
        &:hover, &.active, &:focus
          text-decoration: underline
          color: #ffffff


  .navbar-right
    margin-top: 5px
    .right-nomenclature
      font-family: 'robotomedium_italic'
      color: #d0d5e6
      font-size: 14px
      text-transform: uppercase
      display: inline-block
      position: relative
      top: -4px
      margin-right: 20px
    .right-b
      display: inline-block


      h2
        color: #fff // text color
        font-family: 'robotomedium'
        font-weight: normal
        font-size: 18px
        margin: 0

      a
        font-family: 'robotomedium'
        color: #d0d5e6 // text color
        font-size: 14px
        line-height: 1
        display: inline-block
        border-bottom: 1px dotted #d0d5e6
        text-decoration: none
        +border-radius(0)
        padding: 0
        &:hover
          border-bottom: 1px dotted #242733
    p
      font-family: 'robotoregular'
      font-size: 12px
      color: white
      display: inline-block
      margin-right: 20px
      text-align: right


header
  background: #242733
  .container
    max-width: 990px

.top-b
  background: url(../img/header_bg.jpg) center center no-repeat
  +background-size(cover)
  padding-top: 45px
  h1
    font-family: 'neosanspro-bold'
    font-size: 60px
    color: #ffffff
    text-transform: uppercase
    line-height: 1em
    margin-bottom: 0
  h2
    color: white
    font-family: 'robotoregular'
    font-size: 24px
    margin-top: 0
    line-height: 1em
  .price__new
    display: inline-block
    text-align: center
    width: 180px
    position: relative
    z-index: 1
    margin-top: 40px
    span
      font-size: 14px
      color: white
      font-family: 'robotomedium'

    .price__new-out
      border: 3px solid #ffb201
      background: transparent
      width: 180px
      height: 100px
    .price__new-in
      background-color: #ff9c00
      @include background-image(linear-gradient(to bottom, #ffc903 0%, #ff9b00 100%))
      color: #37180f
      font-family: 'robotoregular'
      font-size: 36px
      width: 160px
      height: 80px
      margin: 7px
      padding-top: 15px
      +border-radius(1px)

  .price__old
    display: inline-block
    font-size: 29px
    color: #ffffff
    font-family: 'robotoregular'
    width: 144px
    height: 80px
    padding-top: 15px
    border: solid 3px #ffffff
    text-align: center
    margin-left: -22px
    position: relative
    top: 10px
  .price__about
    background: url(../img/price_bg.png) no-repeat center
    width: 330px
    height: 80px
    padding: 7px 25px
    color: white
    display: inline-block
    position: relative
    top: 22px
    margin-left: -4px

  .top__img
    display: inline-block
    position: relative
    margin-top: 20px
    z-index: 1
    img
      display: block
  .top__form
    padding: 30px 70px 30px 140px
    border-radius: 20px
    background: #ffffff
    position: relative
    margin: -140px 80px -100px -130px
    +box-shadow(0 22px 20px -23px #616161)
    .form-l
      float: left
      width: 52%
      margin-top: -7px
      h2
        font-family: 'robotobold_condensed'
        text-transform: uppercase
        font-size: 36px
        color: #3aa4ef
        text-align: right
        line-height: 1.2em
      h3
        display: inline-block
        font-family: 'robotoregular'
        font-size: 14px
        color: #242833
        text-transform: uppercase
        text-align: right

    .form-r
      float: right
      width: 43%
      text-align: center
      form
        input
          width: 100%
          height: 44px
          border: 1px solid rgba(29,30,31,.19)
          background-color: #fff
          padding-left: 15px
          margin-bottom: 14px
        button
          width: 100%
          height: 44px
          @include border-radius(22px)
          @include background-clip(padding-box)
          @include background-image(linear-gradient(to bottom, #ffc703 0%, #ff9d00 100%))
          color: #ffffff
          font-family: "robotobold_condensed"
          font-size: 18px
          text-transform: uppercase
          border: none
          +text-shadow(0 -1px 0 rgba(29,30,31,.42))
          &:hover
            background: lighten(#ffc703, 10%)








.about-b
  background: url(../img/about_bg.png) repeat
  padding-bottom: 40px
  padding-top: 60px
  overflow: hidden
  h2
    margin-bottom: 20px
  .about__features
    list-style-type: none
    font-family: 'robotolight'
    font-size: 18px
    color: #2d2d2d
    position: relative
    z-index: 2
    span
      font-family: 'robotoregular'
    li
      position: relative
      margin-bottom: 20px
      margin-left: 10px
      &:before
        position: absolute
        content: ""
        background: url(../img/bullet-ico.png) left no-repeat
        width: 44px
        height: 44px
        left: -60px
        top: 4px
  .about__img
    margin-left: -250px
    margin-top: -155px
    margin-bottom: -110px
    position: relative
    z-index: 1
    img
      display: block
  .about__bottom
    font-family: 'robotolight'
    font-size: 18px
    color: #2d2d2d
    position: relative
    z-index: 2

.why-b
  background: url(../img/why_bg.jpg) center center no-repeat
  +background-size(cover)
  text-align: left
  padding-top: 20px
  padding-bottom: 50px
  .container
    max-width: 1000px
  h2
    color: #ffffff
    margin-bottom: 60px
  .item
    position: relative
    &:before
      position: absolute
      content: ""
      left: -40px
      top: 23px
    &:after
      position: absolute
      content: ""
      height: 0
      width: 60px
      border-bottom: solid 3px #ffffff


  .item1
    margin-left: 130px
    &:before
      background: url(../img/why-ico1.png) no-repeat
      width: 35px
      height: 44px
    &:after
      bottom: -30px
      left: 180px
      +transform(rotate(60deg))
  .item2
    margin-right: 30px
    float: right
    &:before
      background: url(../img/why-ico2.png) no-repeat
      width: -30px
      height: 46px
    &:after
      bottom: -30px
      left: -40px
      +transform(rotate(-60deg))
  .item3
    margin-top: 190px
    &:before
      background: url(../img/why-ico3.png) no-repeat
      width: 30px
      height: 55px
    &:after
      top: 43px
      right: 0
  .item4
    margin-top: 80px
  .item5
    float: right
    margin-top: 190px
    margin-right: -70px
    &:before
      background: url(../img/why-ico4.png) no-repeat
      width: 44px
      height: 44px
    &:after
      top: 43px
      left: -100px
      width: 50px
  .item6
    margin-top: 80px
    margin-left: 130px
    &:before
      background: url(../img/why-ico5.png) no-repeat
      width: 49px
      height: 35px
      left: -50px
    &:after
      top: -30px
      right: 20px
      +transform(rotate(-60deg))
  .item7
    margin-top: 80px
    margin-left: 130px
    &:before
      background: url(../img/why-ico6.png) no-repeat
      width: 38px
      height: 49px
    &:after
      top: -30px
      left: 20px
      +transform(rotate(60deg))
  .why__item
    h3
      font-family: 'robotobold_condensed'
      font-size: 18px
      color: #3aa4ef
      text-transform: uppercase
      margin-bottom: 5px
    p
      color: #ffffff
      font-family: 'robotoregular'
      font-size: 16px

.specs-b
  padding-top: 20px
  padding-bottom: 50px
  h2
    margin-bottom: 50px
  .slider
  .thumbnails
    margin-left: 0
    margin-top: 40px
    list-style: none
    padding-left: 0px
    li
      display: inline-block
      margin-right: 7px
      +opacity(.6)
      &:hover
        +opacity(1)
      &:last-child
        margin-right: 0
      &.active
        +opacity(1)

  .specs__components
    border: dashed 3px #e8e8e8
    padding: 20px 25px
    margin-top: 45px
    margin-left: -15px
    +border-radius(10px)
    h2
      color: #3aa4ef
      font-size: 24px
      text-transform: uppercase
      font-family: 'robotobold_condensed'
      margin-bottom: 25px
      margin-top: 0
      text-align: center
    ul
      margin-bottom: 30px
      list-style: none
      padding-left: 0
      font-family: 'robotoregular'
      font-size: 16px
      color: #949494
      li
        margin-left: 20px
        position: relative
        &:before
          position: absolute
          content: ""
          top: 6px
          left: -20px
          background: url(../img/list-ico.png) no-repeat
          width: 15px
          height: 9px
        &.last
          &:before
            background: none
          margin-top: 20px
        &.finish
          margin-top: 0
    .specs__items
      margin-top: 10px
      .item
        float: left
        width: 48%
        +border-radius(10px)
        position: relative
        border: dashed 2px #e8e8e8
        text-align: center
        img
          display: inline-block
          height: 106px
          margin: 6px 0
        &.right
          float: right
  .specifications
    margin-top: 30px
  .left-b
    float: left
    width: 40%
    font-family: 'robotoregular'
    color: #949494
    font-size: 16px
    list-style: none

  .right-b
    float: right
    width: 60%
    font-family: 'robotoregular'
    font-size: 16px
    color: #555555
    list-style: none
    padding-left: 30px
  h4
    font-family: 'robotobold_condensed'
    font-size: 18px
    color: #3aa4ef
    margin-left: 40px
    text-transform: uppercase
    padding: 5px 0
    clear: both


.how-we-work
  text-align: left
  padding-bottom: 80px
  padding-top: 30px
  background: url(../img/how-we-work.jpg) center center no-repeat
  +background-size(cover)

  h2
    margin-bottom: 40px

  .how-we-work__items

    .item
      padding: 3px 0
      border-top: solid 4px #ffffff
      border-bottom: solid 4px #ffffff
      position: relative
      +background(linear-gradient(to top, rgba(#fff, 0) 0%, rgba(#fff, 0) 49%,rgba(#fff, .3) 50%, rgba(#fff, .3) 100%))
      &.i1
        position: relative
        &:before
          position: absolute
          content: ""
          background: url(../img/how-left.png) no-repeat
          top: -4px
          left: -52px
          z-index: 1
          width: 52px
          height: 120px
      &.i4
        position: relative
        &:before
          position: absolute
          content: ""
          background: url(../img/how-right.png) no-repeat
          top: -4px
          right: -32px
          z-index: 1
          width: 32px
          height: 120px

      &.i3
        .inside
          p
            top: 8px

    > div
      position: relative

    .inside
      padding: 32px 0
      border-top: 1px #fff dashed
      border-bottom: 1px #fff dashed
      .number
        vertical-align: top
        width: 40px
        height: 40px
        @include border-radius(50%)
        @include background-clip(padding-box)
        background-color: #fff
        border: solid 2px #3aa4ef
        display: inline-block
        position: relative
        color: #3aa4ef
        font-family: 'robotocondensed'
        font-size: 18px
        text-align: center
        padding-top: 5px
        margin-right: 3px

      p
        color: #555555
        font-family: 'robotoregular'
        font-size: 16px
        display: inline-block
        vertical-align: middle
        line-height: 1.2em
        margin-bottom: 0
        position: relative



.reviews
  text-align: left
  padding-top: 20px
  padding-bottom: 50px
  h2
    margin-bottom: 40px

  .row
    margin-left: 30px
    &:last-child
      margin-left: 0

    > div
      margin-bottom: 15px
      .left-b
        float: left
        margin-right: 35px
        border: solid 6px #e7e7e7
        padding: 3px
      .right-b
        float: left
        width: 80%
        background: url(../img/quote.png) right center no-repeat
        padding-right: 80px
        p
          color: #2d2d2d
          font-size: 16px
          font-family: 'robotolight'
        h3
          color: #3aa4ef
          font-family: 'robotobold_condensed'
          font-size: 24px
          margin-top: 0
      &:first-child



  .buttons
    margin-top: 30px

  .more
    width: 220px
    height: 44px
    background-color: transparent
    margin: 0 15px 0 auto
    font-size: 18px
    font-family: 'robotocondensed'
    text-decoration: none
    color: #a0a0a0
    border: 4px solid rgba(29,30,31,.15)
    @include border-radius(22px)
    @include background-clip(padding-box)
    display: inline-block
    position: relative
    &:hover
      text-decoration: underline
    &:before
      position: absolute
      content: "+"
      top: 5px
      left: 45px
      font-weight: bold

  .add-rev
    font-size: 18px
    padding-top: 8px
    display: inline-block
    text-decoration: none
    text-transform: uppercase
    width: 220px
    height: 44px
    font-family: 'robotobold_condensed'
    font-weight: bold
    +text-shadow(0 -1px 0 rgba(29,30,31,.42))
    color: #ffffff
    @include border-radius(22px)
    @include background-clip(padding-box)
    @include background-image(linear-gradient(to bottom, #5cbbff 0%, #148ade 100%))
    &:hover
      background: lighten(#5cbbff, 10%)

.order-b
  background: url(../img/order_bg.jpg) center center no-repeat
  +background-size(cover)
  padding-top: 15px
  padding-bottom: 40px
  h2
    color: #ffffff
    margin-right: -70px
  .order-smart
    margin-top: -90px
    margin-left: -200px
    position: relative
    margin-bottom: -310px
  .counter-wrapper
    text-align: center
    display: block
    margin: 0 auto
    .counter
      margin-left: 0
    h3
      color: #ffffff
      font-family: 'robotoregular'
      font-size: 18px
      margin-bottom: 0
      margin-top: -6px
    p
      color: #ffffff
  .img-wrapper
    text-align: center

  .price-wrapper
    text-align: center
    margin: 0 auto
    .price__new
      display: inline-block
      text-align: center
      width: 180px
      position: relative
      z-index: 1
      margin-top: 30px
      span
        font-size: 14px
        color: white
        font-family: 'robotomedium'
        text-transform: uppercase
      .price__new-out
        border: 3px solid #ffb201
        background: transparent
        width: 180px
        height: 100px
      .price__new-in
        background-color: #ff9c00
        @include background-image(linear-gradient(to bottom, #ffc903 0%, #ff9b00 100%))
        color: #37180f
        font-family: 'robotoregular'
        font-size: 36px
        width: 160px
        height: 80px
        margin: 7px
        padding-top: 15px
        +border-radius(1px)

    .price__old
      display: inline-block
      font-size: 29px
      color: #ffffff
      font-family: 'robotoregular'
      width: 144px
      height: 54px
      border-bottom: solid 3px #ffffff
      border-left: solid 3px #ffffff
      border-right: solid 3px #ffffff

      text-align: center
      position: relative
      top: 6px

  .form-wrapper
    border: solid 3px #ffffff
    padding: 35px
    text-align: center
    margin: 0 3px
    h4
      font-family: 'robotobold_condensed'
      font-size: 24px
      color: #ffffff
      text-transform: uppercase
      margin-bottom: 30px
      margin-top: -23px
    .form
      text-align: center
      form
        input
          width: 100%
          height: 44px
          border: 1px solid rgba(29,30,31,.19)
          background-color: #fff
          padding-left: 15px
          margin-bottom: 14px
        button
          margin-top: 20px
          width: 100%
          height: 44px
          @include border-radius(22px)
          @include background-clip(padding-box)
          @include background-image(linear-gradient(to bottom, #ffc703 0%, #ff9d00 100%))
          color: #ffffff
          font-family: "robotobold_condensed"
          font-size: 18px
          text-transform: uppercase
          border: none
          +text-shadow(0 -1px 0 rgba(29,30,31,.42))
          &:hover
            background: lighten(#ffc703, 10%)


.other
  padding-top: 20px
  text-align: center
  padding-bottom: 55px
  .container
  h2
    margin-bottom: 30px

  .other-items
  .item
    padding: 15px 22px
    border: 3px rgb(219,219,219) solid
    +border-radius(21px)
    margin: 0

    h3
      font-size: 20px
      font-family: 'robotoitalic'
      color: #3d3e46
      margin: 0 0 5px

    p
      font-size: 29px
      color: #181818
      text-transform: uppercase


  .img
    height: 191px
    text-align: center
  .price-b
    margin: 10px 0
  .price-old
    color: #acacac
    font-size: 22px
    font-family: 'robotoregular'
    padding: 10px
    background: #ffffff
    width: 49%
    display: inline-block
  .price-new
    @extend .price-old
    background: #242833
    color: #ffffff




  input
    width: 100%
    height: 44px
    @include border-radius(2px) // border radius
    border: 1px solid #dbdbdb
    margin-bottom: 14px
    padding-left: 15px
    font-size: 15px

    &:focus
      @include box-shadow(0 0 9px rgba(204,62,82,.13)) // outer glow

  .btn-b
    .btn-about
      border: 2px solid #dbdbdb
      @include border-radius(20px)
      @include background-clip(padding-box)
      font-family: 'robotomedium'
      font-size: 14px
      color: #888888
      text-transform: uppercase
      padding: 8px 0
      margin-right: 5px
      width: 47%
      &:hover
        text-decoration: underline
    .btn-order
      margin-right: 0
      padding: 10px 0
      @extend .btn-about
      color: white
      @include background-image(linear-gradient(to bottom, #5cbbff 0%, #148ade 100%))
      border: none
      +single-text-shadow()
      &:hover
        text-decoration: none
        background: lighten(#5cbbff, 5%)



footer
  padding-top: 20px
  background: #242833
  text-align: center
  font-family: 'robotoregular'
  color: #ffffff
  a
    color: #d0d5e6
    text-decoration: underline
    &:hover
      text-decoration: none
      color: #d0d5e6
    &.first
      margin-right: 20px
      margin-left: -15px
  p
    margin-top: 10px
    span
      margin-left: 15px

